<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <title>Document</title>
        {% endblock head %}
    </head>

    <body>
        <nav id="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="column nav-menu-item">
                        <a href="{% url 'list_tournaments' %}">Tournaments</a>
                    </div>
                    <div class="column nav-menu-item">
                        <a href="{% url 'list_centers' %}">Bowling Centers</a>
                    </div>
                    <div class="column nav-menu-item">
                        <a href="{% url 'list_directors' %}">Tournament Directors</a>
                    </div>
                    <div class="column nav-menu-item">
                        {% if not logged_in %}
                        <a href="{% url 'login' %}">Login</a>
                        {% else %}
                        <a href="{% url 'logout' %}">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock content %}
    </body>
</html>